html{
    font-size: 52.5%;
}


body{
    font-family: 'Public Sans';
    width: 400;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    
}

.logo{
    display: flex;
    align-items: center ;
}

.logo h1{
    font-size: 2rem;
    margin-left: 5px;
}


.menu{
    display: flex;
    align-items: center;
} 
.menu li,
 a button{
    padding: 10px 5px;
    margin-left: 15px;
    transition: 0.3s ease-in-out
}
.menu li a{
    padding: 17px 40px;
    font-size: 2rem;
}

.menu li a:hover{
    background-color: #5BC241;
    color: #ffff;
 
    
}

.cadastro{
    width: 127px;
    background-color: #5BC241;
    height: 39px;
    border: none;
    border-radius:5px ;
    font-size: 16px;
    color: #ffff;
}

.cadastro:hover{
    cursor: pointer;
    background-color: #bbf8ab;
}


